.card3 {
  margin-bottom: 30px;
}

.card3 > div {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

.cardhead {
  background-color: #eee;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}

.cardhead > img {
    margin: 0 auto;
    padding: 15px;
}

.cardhead > h1,h2 {
    color: #FFFFF0;
}

.cardhead.cardcontent {
        padding: 16px 8px;
        background-color: #fafafa;
}

.page-header {
    text-align: center;
}

.alert-card {
    margin: 1em 3em 1em 1em; !important;
 }

.avatar {
    background-image: url("../LinedAvatarCircle.png");
}

* {
    border-radius: 0 !important;
}

.alert-heading {
 text-align: center;
}

.center-ul {
    margin: auto; !important;
}

caption h3{
    color:white !important;
}

caption span{
    color:white !important;
}